Flask==3.0.3
python-dotenv==1.0.1
cassandra-driver==3.29.1
twisted==24.7.0
pymongo==4.8.0
mysql-connector-python==9.0.0
neo4j==5.23.1
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
python-docx==1.1.2
